<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
	 <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
  </configSections>
  <log4net debug="false">
	 <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="Logs\log_" />
		<staticLogFileName value="false" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyy-MM-dd&quot;.log&quot;" />
		<filter type="log4net.Filter.LevelMatchFilter">
		  <levelToMatch value="ERROR"/>
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		<layout type="log4net.Layout.PatternLayout">
		  <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
		  <conversionPattern value="%date [%thread] %-5level %logger ==&gt; %message%newline" />
		</layout>
	 </appender>
	 <root>
		<priority value="ALL" />
		<appender-ref ref="RollingLogFileAppender" />
	 </root>
	 <category name="my.category">
		<priority value="DEBUG" />
	 </category>
  </log4net>
  <startup>
	 <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
	 <bindings>
      <basicHttpBinding>
          <binding name="BasicHttpBinding_IMainUpdateSourceService" closeTimeout="01:30:00"
              openTimeout="01:30:00" receiveTimeout="01:30:00" sendTimeout="01:30:00"
              maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
              messageEncoding="Mtom" />
      </basicHttpBinding>
      <netTcpBinding>
          <binding name="NetTcpBinding_IPOCService" receiveTimeout="00:10:00"
              sendTimeout="00:10:00" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000">
              <security mode="None" />
          </binding>
      </netTcpBinding>
  </bindings>
	 <client>
      <endpoint address="http://89.107.56.237:9003/MainUpdateSource" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IMainUpdateSourceService"
          contract="MainUpdateSource.IMainUpdateSourceService" name="BasicHttpBinding_IMainUpdateSourceService" />
      <endpoint address="net.tcp://89.107.56.237:9002/POCService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IPOCService" contract="ServiceReference.IPOCService"
          name="NetTcpBinding_IPOCService" />
  </client>
	 <behaviors>
		<endpointBehaviors>
		  <behavior name="endpointBehavior">
			 <clientCredentials>
				<clientCertificate storeLocation="LocalMachine" storeName="My" findValue="tabidus.com"
           x509FindType="FindBySubjectName" />
			 <serviceCertificate>
				<authentication certificateValidationMode="None"/>
			 </serviceCertificate>
			 </clientCredentials>
		  </behavior>
		</endpointBehaviors>
	 </behaviors>
  </system.serviceModel>
  <appSettings>
	 <add key="APP_INTERVAL" value="1"/>
	 <add key="ROWS_PER_PAGE" value="25;50;100"/>
	 <add key="MESSAGE_KEY" value="0A726E81-C31F-4680-B335-7DAC170651B4"/>
	 <add key="COMPUTER_ITEMS_KEY" value="is;starts with;ends with;contains"/>
	 <add key="HARDDISK_ITEMS_KEY" value="greater than;less than"/>
	 <add key="IP_ITEMS_KEY" value="is between;is in subnet"/>
	 <add key="IPv6_ITEMS_KEY" value="is between"/>
	 <add key="LASTSYNC_ITEMS_KEY" value="is within;is not within"/>
	 <add key="PLATFORM_ITEMS_KEY" value="32 Bit:86;64 Bit:64"/>
	 <add key="COMPUTERTYPE_ITEMS_KEY" value="Server;Desktop;Notebook"/>
	 <add key="COLORCODE_ITEMS_KEY" value="Green;Orange;Red;Gray"/>
	 <add key="GROUPVIEW_WIDTH_KEY" value="SystemName:130;Domain:110;UserName:110;IPv4:110;IPv6:230;Type:60;OSName:250;PowerState:75;LastSync:150;GroupName:260"/>
	 <add key="NEIGHBORHOOD_VIEW_WIDTH_KEY" value="Confirmed:80;SystemName:130;Domain:110;IPv4:110;IPv6:230;MAC:250;Vendor:200;OSName:250;LastSeen:150;DetectedBy:150"/>
	 <add key="NEIGHBORHOOD_VIEW_STATE_KEY" value="Confirmed:0;Unmanaged:1;Managed:0"/>
	 <add key="LDAP_TYPES" value="Active Directory:1"/>
	 <add key="SOFTWARE_VIEW_WIDTH_KEY" value="Name:150;Version:100;Comment:200;Executable:200;Parameters:250;Size:100"/>
   <add key="POCAgent_Colors" value="#0048BA,#4C2F27,#B0BF1A,#7CB9E8,#C9FFE5,#B284BE,#5D8AA8,#00308F,#72A0C1,#AF002A,#F0F8FF,#84DE02,#E32636,#C46210,#EFDECD,#E52B50,#9F2B68,#F19CBB,#AB274F,#D3212D,#3B7A57,#FFBF00,#FF7E00,#FF033E,#9966CC,#A4C639,#F2F3F4,#CD9575,#665D1E,#915C83,#841B2D,#FAEBD7,#008000,#8DB600,#FBCEB1,#00FFFF,#7FFFD4,#D0FF14,#4B5320,#3B444B,#8F9779,#E9D66B,#B2BEB5,#87A96B,#FF9966,#A52A2A,#FDEE00,#6E7F80,#568203,#C39953,#007FFF,#89CFF0,#A1CAF1,#F4C2C2,#FF91AF,#21ABCD,#FAE7B5,#FFE135,#006A4E,#E0218A,#7C0A02,#1DACD6,#848482,#98777B,#BCD4E6,#9F8170,#FA6E79,#2E5894,#9C2542,#E88E5A,#3D2B1F,#967117,#CAE00D,#FE6F5E,#BF4F51,#000000,#3D0C02,#54626F,#253529,#3B3C36,#BFAFB2,#A57164,#318CE7,#ACE5EE,#FAF0BE,#0000FF,#1F75FE,#0093AF,#333399,#A2A2D0,#00B9FB,#6699CC,#0D98BA,#ACE5EE,#553592,#126180,#8A2BE2,#5072A7,#4F86F7,#DE5D83,#79443B,#0095B6,#DDE26A,#CC0000,#006A4E,#873260"/>
  <!--<add key="POCAgent_Colors" value="#F00, #0F0, #0FF, #00F, #0048BA,#4C2F27,#B0BF1A,#7CB9E8,#C9FFE5,#B284BE,#5D8AA8,#00308F,#72A0C1,#AF002A,#F0F8FF,#84DE02,#E32636,#C46210,#EFDECD,#E52B50,#9F2B68,#F19CBB,#AB274F,#D3212D,#3B7A57,#FFBF00,#FF7E00,#FF033E,#9966CC,#A4C639,#F2F3F4,#CD9575,#665D1E,#915C83,#841B2D,#FAEBD7,#008000,#8DB600,#FBCEB1,#00FFFF,#7FFFD4,#D0FF14,#4B5320,#3B444B,#8F9779,#E9D66B,#B2BEB5,#87A96B,#FF9966,#A52A2A,#FDEE00,#6E7F80,#568203,#C39953,#007FFF,#89CFF0,#A1CAF1,#F4C2C2,#FF91AF,#21ABCD,#FAE7B5,#FFE135,#006A4E,#E0218A,#7C0A02,#1DACD6,#848482,#98777B,#BCD4E6,#9F8170,#FA6E79,#2E5894,#9C2542,#E88E5A,#3D2B1F,#967117,#CAE00D,#FE6F5E,#BF4F51,#000000,#3D0C02,#54626F,#253529,#3B3C36,#BFAFB2,#A57164,#318CE7,#ACE5EE,#FAF0BE,#0000FF,#1F75FE,#0093AF,#333399,#A2A2D0,#00B9FB,#6699CC,#0D98BA,#ACE5EE,#553592,#126180,#8A2BE2,#5072A7,#4F86F7,#DE5D83,#79443B,#0095B6"/>-->
  </appSettings>
</configuration>